page-event {
    ion-navbar{
        background: $black !important; 
    }
    .toolbar .searchbar-ios .searchbar-input{
        background-color: #fff;
    }
    .list span{
        border: 0px;
    }
}
